<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="Standalone OR ContentManagement OR ContentDelivery OR Processing OR Reporting">
    <pipelines>
      <mvc.getXmlBasedLayoutDefinition>
        <processor type="Sitecore.XA.Feature.Composites.Pipelines.GetXmlBasedLayoutDefinition.InjectCompositeComponents, Sitecore.XA.Feature.Composites" set:type="Sitecore.Support.XA.Feature.Composites.Pipelines.GetXmlBasedLayoutDefinition.InjectCompositeComponents, Sitecore.Support.242957" />
      </mvc.getXmlBasedLayoutDefinition>
      <mvc.getCompositeXmlBasedLayoutDefinition>
        <processor type="Sitecore.XA.Feature.Composites.Pipelines.GetXmlBasedLayoutDefinition.InjectCompositeComponents, Sitecore.XA.Feature.Composites" set:type="Sitecore.Support.XA.Feature.Composites.Pipelines.GetXmlBasedLayoutDefinition.InjectCompositeComponents, Sitecore.Support.242957" />
      </mvc.getCompositeXmlBasedLayoutDefinition>
    </pipelines>
  </sitecore>
</configuration>